# SPDX-License-Identifier: MIT

if BOARD_NICE_NANO_V2

config BT_CTLR
	default BT

if USB_DEVICE_STACK

config UART_CONSOLE
	default CONSOLE

config USB_DEVICE_INITIALIZE_AT_BOOT
	default y

endif # USB_DEVICE_STACK

endif # BOARD_NICE_NANO_V2
